@import url(https://fonts.googleapis.com/css2?family=Nunito&display=swap%27);


html {
    color: #6A6A6A;
    font-family: Nunito;
}

#container{
    margin-left: 336px;
    padding: 85px 112px;
}

.cards-list {
    display: flex;
    flex-wrap: wrap;
}

.cards-list .Rectangle{
    margin: 17px 34px 17px 0;
}